@import "/edu/wpi/first/shuffleboard/app/midnight.css";

.root {
    -swatch-100: #0066ff;
    -swatch-200: derive(-swatch-100, -5%);
    -swatch-300: derive(-swatch-100, -12%);
    -swatch-400: derive(-swatch-100, -16%);
    -swatch-500: derive(-swatch-100, -25%);
}